// Map defaults to 100% of container size
#main-container {
  [data-map="home"] {
     height: 100% !important;
  }

  // The map needs a z-index so search suggestions render over the top of the map zoom controls
  #map {
    z-index:5;
  }
}

// icons used on home page
.uw-icon-container {
   padding-bottom: 0em;
   width: 175px;
}
.uw-home-icon {
   width: 150px;
}

// for smaller screen sizes, map pops to bottom and size set to 500px tall
// might be more elegant way to do this
@media (max-width: map-get($breakpoints, md)) {
#main-container {
  [data-map="home"] {
      height: 500px !important;
      margin-top: 2em;
  }
}
}

// add a little extra white space under facet boxes
// this also affects facets on search results page
.facet-limit {
   margin-bottom: 1em !important;
}

// add a little extra white space under cards
.card {
    margin-bottom: 2em;
}
