// List view results

  .list-icon div.media {
      width: 6rem;
      height: 6rem;
    }

  .list-icon svg {
        width: 6rem;
        height: 6rem;
      }

  .list-icon span.blacklight-icons {
      min-height: 6rem;
      min-width: 6rem;
    }

  .list-icon {
    -ms-flex: 0 0 6rem;
    flex: 0 0 6rem;
    }

@media (max-width: 768px) {
  .list-icon {
    display: none;
  }
}

 p.mb-1 {
    font-weight:600;
    }
