// List view results

// space list text this far from left
.list-icon {
    -ms-flex: 0 0 8rem;
    flex: 0 0 8rem;
    }

// set space available for icons/images    
.list-icon .media {
      min-height: 6rem;
      min-width: 6rem; 
} 
  
      
// set size of icons
.list-icon .media .blacklight-icons svg {
        min-width: 5rem;
        min-height: 5rem;
} 
      
//set size of images 
.img-fluid {
        width: auto;
        height: 5rem;
} 

@media (max-width: 768px) {
  .list-icon {
    display: none;
  }
}

p.mb-1 {
    font-weight:600;
}
