// override behavior where empty icon has 1em placeholder
span.icon-missing {
    display: none;
}

.document-metadata {
  a[target="_blank"]:after {
    content: "";
    background: image-url("external-link-alt-solid.svg");
    background-size: 1rem;
    margin-left:0.5rem;
    width: 1rem;
    height: 1rem;
    display:inline-block;
  }
}

// treat /n in uw_supplemental field as new line... essentially same as <br/>
.blacklight-uw_supplemental_s {
    white-space: pre-line;
}
    