<div id="main-container" class="container-fluid">
    <h1 class="page-heading">About GeoData@Wisconsin</h1>

<h3>Overview</h3>

<p>GeoData@Wisconsin is an online geoportal that provides discovery and access to Wisconsin geospatial data, imagery, and scanned maps. It is developed and maintained by the UW-Madison Geography Department's Robinson Map Library and State Cartographer's Office. The geoportal combines a map-based spatial search with traditional keyword searching and faceted browsing options to locate and download geospatial data.  See the Help section for tips on keyword searching, descriptions of the different facets and collections, and how to interact with the map search function.</p>

<h3>Content</h3>
<p>Geospatial data, imagery, and scanned maps available for download from GeoData@Wisconsin come from a variety of sources. The “Held By” facet within the geoportal is a good way to quickly see where the content is housed or hosted from. Many datasets in the geoportal are housed in the UW-Madison Robinson Map Library’s geospatial data archive, while others are hosted by the original data producers. By indexing content that extends beyond the physical holdings of the Map Library archive, GeoData@Wisconsin enhances the user experience by providing access to a broad range of geospatial data, imagery and maps from different sources in a single search interface.<p>

<h5>Robinson Map Library at UW-Madison</h5> 
<p>Items held by the Robinson Map Library are archived copies of datasets originating from cities, counties, regional planning commissions, state agencies, federal agencies, and/or researchers across Wisconsin. This is a curated collection of data layers through time, largely dating back to 2010 (approximately). Beginning in 2017, the Map Library has systematically collected county data layers submitted annually to the Wisconsin Land Information Program’s (WLIP) call for public data. These data include roads and rights-of-way, hydrography, land use, parks/trails/recreation, address points, building footprints, PLSS control, and others. </p>

<p>In addition to collecting and archiving specific county data layers on an annual basis, the library also archives Wisconsin data layers from agencies and organizations around the state that have been determined to be useful for academic/research audiences. There is value in keeping snapshots over time of these datasets to facilitate temporal analysis – and to digitally preserve the content for reliable long-term use.</p>

<h5>County and State Agency Open Data Sites</h5>
<p>There are many Wisconsin counties and state agencies that provide access to open data online.  Metadata records from these sites are routinely indexed at specific time intervals into GeoData@Wisconsin to promote discovery and access to this content alongside other resources in the geoportal.  Searching and browsing for datasets hosted by individual counties and state agencies is available through GeoData@Wisconsin, while direct downloads are made possible from the data producers themselves.</p>

<h5>WisconsinView</h5>
<p>WisconsinView is an archive of remotely sensed raster data and imagery for Wisconsin, developed and maintain by the Space Science and Engineering Center at UW-Madison. Aerial imagery collections from the National Aerial Imagery Program (NAIP), the Wisconsin Regional Orthophoto Consortium (WROC), and the United States Geological Survey (USGS) along with county-based LiDAR data are discoverable through GeoData@Wisconsin, while the actual content is curated and stored by WisconsinView.</p>

<h5>Wisconsin Coastal Atlas</h5>
<p>Coastal datasets from the Wisconsin Coastal Atlas are indexed in GeoData@Wisconsin, and the Coastal Collection is the new digital catalog for the online atlas. All geospatial datasets that represent features within Wisconsin’s 15 coastal counties (bordering Lakes Superior and Michigan) are also part of the Coastal Collection.</p>

<h5>University of Wisconsin Digital Collections Center</h5>
<p>The UW Digital Collections Center has worked collaboratively with UW System faculty, staff, and librarians to create and provide access to digital resources that support the teaching and research needs of the UW community, uniquely document the university and State of Wisconsin, and provide access to rare or fragile items of broad research value. Historic aerial imagery from 1937-1941 for Wisconsin and other scanned map collections are discoverable via GeoData@Wisconsin while individual file downloads are provided by UWDCC.</p>
</div>


