<div id="main-container" class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
        <h1 class="page-heading">Welcome to the All-New GeoData@Wisconsin</h1>
        <%= image_tag("BascHall_Bucky14_0744.jpg", alt: "Bascom Hall", class: "float-right img-thumbnail ml-4") %>        
        <p>If you've used GeoData@Wisconsin in the past, things look a little different! What you see reflects nearly a year of planning and development to make our geoportal even more useful to Wisconsin geospatial data consumers.</p>
        <p>In addition to a completely new interface, we've made a number of other less-obvious enhancements. Here are some highlights:</p>
        <ul>
            <li>GeoData@Wisconsin now "syncs" with known ArcGIS Hub (a.k.a. Open Data) sites maintained by Wisconsin data producers. This means you can now visit GeoData@WI and search across other Wisconsin geoportals!</li>
            <li>Many datasets are now grouped into "collections."  For example, on our homepage you can click a "coastal layers" icon to quickly find datasets useful for coastal management issues. Similarly we have new collections for statewide data, and aerial imagery.</li>
            <li>More ways to filter searches using "facets" such as who created the data, publication year, data type, format, and more.</li>     
            <li>Each dataset now has a "show" page that contains more information about the data, including how to get additional details from the original data publisher. (<a href="/catalog/D0C11F12-5FBE-4E94-89EE-A95169F5F172">example</a>)</li>
            <li>New partnership with the <a href="https://www.seagrant.wisc.edu/" target="_blank">Wisconsin Sea Grant Institute</a> to support the data catalog function of the <a href="https://www.wicoastalatlas.net/" target="_blank">Wisconsin Coastal Atlas</a>.</li>
            <li>Direct links to individual historic scanned aerial photographs held by the <a href="https://www.library.wisc.edu/digital-library-services/uwdcc/" target="_blank">University of Wisconsin Digital Collections Center</a>.</li>
            <li>Direct links to individual digital aerial photographs held by <a href="https://wisconsinview.org/" target="_blank">WisconsinView</a> (coming December 2019)</li>
        </ul>
        <p>If you aren't familiar with the term, "beta test" means we expect a few bugs to pop up with the new site. If you do experience a problem, no matter how small, please contact us via email at <a href="mailto:geodata@sco.wisc.edu">geodata@sco.wisc.edu</a>.  We appreciate your assistance!</p>      
    </div>
  </div>
</div>
