<div id="main-container" class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h1 class="page-heading">Contribute to GeoData@Wisconsin</h1>
      <p>The Robinson Map Library collects, curates and archives geospatial data for the state of Wisconsin. Additional contributions of geographic content are always welcome!  We are interested in knowing about existing data that should be included in the geoportal.  If you publish an Open Data site and are interested in having your content discoverable via GeoData@Wisconsin, please contact us with the appropriate URL.</p>

      <p>Contact <u><a href="mailto:jmartindale@wisc.edu">Jaime Martindale</a></u> with inquiries or suggestions for data, maps, or other resources that may be considered for inclusion in GeoData@Wisconsin.</p>

      <h3>GeoData@Wisconsin Collection Development Policy</h3>
      <p>The Robinson Map Library (RML) has created a GeoData@Wisconsin collection development policy in an effort to responsibly guide and monitor the growth and long-term management of content within the geoportal. The goal of this policy is to inform decisions on what content is included for discovery from GeoData@Wisconsin. The collection development process is strategic and must fall in line with the library’s ability to adequately accession and process geospatial content with reasonable skill and care in a suitable timeframe. The library does not intend to include all existing Wisconsin geospatial data within GeoData@Wisconsin.</p>
      <p>The primary collection development emphasis is on Wisconsin geospatial data that are useful to the widest audience possible. We do not focus on collecting specific content that benefits one particular user group -- but we have made efforts to integrate new and existing data, imagery, and maps into named collections. Named collections help to strengthen communities of practice around thematically related resources. One example of a named collection in GeoData@Wisconsin is the “Coastal Collection.”</p>
      <p>As part of our collection development process, we may execute some or all of the following actions (depending on the resource):</p>
      <ul>
        <li>
          <strong>Collect</strong> (when appropriate)– acquire resources (data/maps/imagery) from an outside source and add it to the RML geospatial repository</li>
        <li>
          <strong>Archive/Preserve</strong> (when appropriate)– apply digital preservation practices to ensure resources are accessible and usable through time</li>
        <li>
          <strong>Create Online Discovery</strong> – generate and publish geospatial metadata records to enable search and discovery through the GeoData@Wisconsin online interface (i.e. keyword search, map search, faceted browsing)
        </li>
        <li>
          <strong>Make Publicly Downloadable</strong> – geospatial resources are directly accessible to users via a download link from GeoData@Wisconsin</li>
      </ul>

      <p>Collection development efforts for GeoData@Wisconsin focus on the following geospatial categories (not in any particular order). For each category, the actions performed (as described above) are listed:</p>
      <ul>
        <li>
          <strong>Wisconsin Land Information Program (WLIP) public data layers collected annually:</strong> tax parcels (statewide parcel layer), PLSS, address points, building footprints, street centerlines, right-of-ways, land use, zoning, hydrography, parks and recreation, trails.  <br>
            Actions: Collect <em>(if appropriate)</em>  | Archive/Preserve <em>(if appropriate)</em> | Create Discovery | Make Downloadable
        </li>
        <li>
          <strong>
            <u><a href="https://www.wlia.org/resources/foundational-layers/" target="_blank">Wisconsin foundational layers</a></u>: </strong><br>
              Actions: Collect <em>(if appropriate)</em> | Archive/Preserve <em>(if appropriate)</em> | Create Discovery | Make Downloadable
        </li>
        <li>
          <strong>
            Other Wisconsin county, municipal, RPC or state agency data/imagery/maps that are popular or heavily utilized (based on existing past or present usage statistics) and/or where an annual snapshot in the archive is important to enable research through time
          </strong>
          <br>Actions: Collect | Archive/Preserve | Create Discovery | Make Downloadable       
        </li>
        <li>
          <strong>County, municipal, RPC, state agency, or federal data/imagery/maps published by local government as Open Data Sites</strong> (only metadata records are included in the geoportal, while original data remains with the producer)<br>
            Actions: Create Discovery | Make Downloadable
        </li>
        <li>
          <strong>
            Academic research geospatial data/imagery/maps</strong>
          <br>Actions: Collect <em>(if appropriate)</em> | Archive/Preserve <em>(if appropriate)</em> | Create Discovery | Make Downloadable
          </li>
        <li>
          <strong>International, non-profit, or private industry data/imagery/maps covering Wisconsin that are popular or heavily utilized (based on existing past or present usage statistics) and/or where an annual snapshot in the archive is important to enable research through time</strong>
          <br>Actions: Collect <em>(if appropriate)</em> | Archive/Preserve <em>(if appropriate)</em> | Create Discovery | Make Downloadable
        </li>
        <li>
          <strong>Aerial imagery and LiDAR held by WisconsinView or other sources</strong>
          <br>Actions: Create Discovery | Make Downloadable
        </li>
      </ul>
    </div>
  </div>
</div>
