<div id="main-container" class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
        <h1 class="page-heading">Credits</h1>
        <%= image_tag("Campus_Spring19_6995.jpg", alt: "Science Hall", class: "float-right img-thumbnail ml-4") %>
        
            
        <p>Geodata@Wisconsin is developed and maintained by the Wisconsin State Cartographer’s Office in conjunction with the Arthur H. Robinson Map Library at the University of Wisconsin-Madison. This site would not exist without the generous support of the many Wisconsin organizations who share geospatial data with the University for inclusion in the geoportal. </p>
        <p>We would like to formally acknowledge the following organizations and people for supporting, partnering with, contributing to, or advocating for GeoData@Wisconsin:</p>
        <ul>
        <li>University of Wisconsin-Madison Department of Geography</li>
        <li>University of Wisconsin Sea Grant</li>
        <li>University of Wisconsin Digital Collections</li>
        <li>Wisconsin Department of Administration – Land Information Program</li>
        <li>Wisconsin Legislative Technology Services Bureau – GIS Services</li>
        <li>Wisconsin Land Information Association</li>
        <li>Wisconsin Land Information Officer’s Network </li>
        <li>WisconsinView</li>
        <li>Eric Larson – GeoBlacklight development</li>
        <li>Karen Majewicz – Metadata support</li>
        </ul>
        </p>
    </div>
  </div>
</div>
