<%= render partial: 'shared/header_navbar' %>
<div class="container">
  <div>
    <h2>Credits</h2>
  </div>
  <div class="row">  
    <div class="col-sm-8">  
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem donec massa sapien faucibus. Nunc pulvinar sapien et ligula ullamcorper malesuada proin. Aliquam vestibulum morbi blandit cursus risus at ultrices mi. Ullamcorper sit amet risus nullam eget felis eget nunc. Bibendum arcu vitae elementum curabitur vitae nunc sed velit. Pellentesque diam volutpat commodo sed egestas egestas fringilla. Fusce id velit ut tortor pretium viverra suspendisse potenti. Molestie nunc non blandit massa enim. Consectetur a erat nam at lectus urna. Sed velit dignissim sodales ut eu sem integer vitae justo.</p>
    </div>
    <div class="col-sm-4 col-sm-offset-1">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem donec massa sapien faucibus. Nunc pulvinar sapien et ligula ullamcorper malesuada proin. Aliquam vestibulum morbi blandit cursus risus at ultrices mi. Ullamcorper sit amet risus nullam eget felis eget nunc. Bibendum arcu vitae elementum curabitur vitae nunc sed velit. Pellentesque diam volutpat commodo sed egestas egestas fringilla. Fusce id velit ut tortor pretium viverra suspendisse potenti. Molestie nunc non blandit massa enim. Consectetur a erat nam at lectus urna. Sed velit dignissim sodales ut eu sem integer vitae justo.</p>
    </div>
  </div>
</div>
<%= render partial: 'shared/footer' %>
<%= render partial: 'shared/modal' %>
