<div id="main-container" class="container-fluid">
  <div>
    <h1 class="page-heading">Credits</h1>
  </div>
  <div class="row">  

    <div class="col-sm-6">
        <p>Geodata@Wisconsin is developed and maintained by the Wisconsin State Cartographer’s Office in conjunction with the Arthur H. Robinson Map Library at the University of Wisconsin-Madison. This site would not exist without the generous support of Wisconsin’s state agencies, counties, and cities who share geospatial data with the University for inclusion in the geoportal. </p>
<p>We would like to formally acknowledge the following organizations and people for supporting, partnering with, contributing to, or advocating for GeoData@Wisconsin:</p>

<ul>
<li>University of Wisconsin-Madison Department of Geography</li>
<li>University of Wisconsin Sea Grant</li>
<li>University of Wisconsin Digital Collections</li>
<li>Wisconsin Department of Administration – Land Information Program</li>
<li>Wisconsin Legislative Technology Services Bureau – GIS Services</li>
<li>Wisconsin Land Information Association</li>
<li>Wisconsin Land Information Officer’s Network </li>
<li>WisconsinView</li>
<li>Eric Larson – GeoBlacklight development</li>
<li>Karen Majewicz – Metadata support</li>
</ul>
</p>
    </div>
        <div class="col-sm-6">  
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem donec massa sapien faucibus. Nunc pulvinar sapien et ligula ullamcorper malesuada proin. Aliquam vestibulum morbi blandit cursus risus at ultrices mi. Ullamcorper sit amet risus nullam eget felis eget nunc. Bibendum arcu vitae elementum curabitur vitae nunc sed velit. Pellentesque diam volutpat commodo sed egestas egestas fringilla. Fusce id velit ut tortor pretium viverra suspendisse potenti. Molestie nunc non blandit massa enim. Consectetur a erat nam at lectus urna. Sed velit dignissim sodales ut eu sem integer vitae justo.</p>
    </div>
  </div>
</div>

