<div id="main-container" class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h1 class="page-heading">GeoData@Wisconsin How-To Videos</h1>
      <p class="pb-3">While we hope GeoData@Wisconsin is intuitive to use with minimal instruction, the videos below offer some "tips and tricks" to help you be most effective in your search for Wisconsin geospatial data.  As always, please feel free to <a style="text-decoration:underline;"	href="mailto:geodata@sco.wisc.edu">contact us</a> if you need assistance!</p>

	  <div class="mb-5">
	  <h3 class="pb-2">Introduction and Overview</h3>
		<div class="row">
		<div class="col-sm">		  
			<iframe id="kaltura_player" src="https://cdnapisec.kaltura.com/p/1660902/sp/166090200/embedIframeJs/uiconf_id/25717641/partner_id/1660902?iframeembed=true&playerId=kaltura_player&entry_id=1_9pmnpeqx&flashvars[streamerType]=auto&amp;flashvars[localizationCode]=en_US&amp;flashvars[leadWithHTML5]=true&amp;flashvars[sideBarContainer.plugin]=true&amp;flashvars[sideBarContainer.position]=left&amp;flashvars[sideBarContainer.clickToClose]=true&amp;flashvars[chapters.plugin]=true&amp;flashvars[chapters.layout]=vertical&amp;flashvars[chapters.thumbnailRotator]=false&amp;flashvars[streamSelector.plugin]=true&amp;flashvars[EmbedPlayer.SpinnerTarget]=videoHolder&amp;flashvars[dualScreen.plugin]=true&amp;flashvars[Kaltura.addCrossoriginToIframe]=true&amp;&wid=1_g5qqh62y" width="649" height="401" allowfullscreen webkitallowfullscreen mozAllowFullScreen allow="autoplay *; fullscreen *; encrypted-media *"  frameborder="0" title="Kaltura Player"></iframe>
		</div>
		<div class="col-sm">
			<p>GeoData@Wisconsin is an online geoportal designed to provide discovery and access to Wisconsin geospatial data, aerial imagery, and scanned maps. Every resource within the geoportal has a download link for you to immediately access the content you need. This video will be teach you the basics of using GeoData@Wisconsin.</p>	
		</div>
		</div>
	  </div>
	  
	  <div class="mb-5">
	  <h3 class="pb-2">Searching with Keywords</h3>
		<div class="row">
		<div class="col-sm">
		  <iframe id="kaltura_player" src="https://cdnapisec.kaltura.com/p/1660902/sp/166090200/embedIframeJs/uiconf_id/25717641/partner_id/1660902?iframeembed=true&playerId=kaltura_player&entry_id=1_9pmnpeqx&flashvars[streamerType]=auto&amp;flashvars[localizationCode]=en_US&amp;flashvars[leadWithHTML5]=true&amp;flashvars[sideBarContainer.plugin]=true&amp;flashvars[sideBarContainer.position]=left&amp;flashvars[sideBarContainer.clickToClose]=true&amp;flashvars[chapters.plugin]=true&amp;flashvars[chapters.layout]=vertical&amp;flashvars[chapters.thumbnailRotator]=false&amp;flashvars[streamSelector.plugin]=true&amp;flashvars[EmbedPlayer.SpinnerTarget]=videoHolder&amp;flashvars[dualScreen.plugin]=true&amp;flashvars[Kaltura.addCrossoriginToIframe]=true&amp;&wid=1_g5qqh62y" width="649" height="401" allowfullscreen webkitallowfullscreen mozAllowFullScreen allow="autoplay *; fullscreen *; encrypted-media *"  frameborder="0" title="Kaltura Player"></iframe>
		</div>
		<div class="col-sm">
		<p>In GeoData@Wisconsin, the keyword search bar is located at the top of the page. Simply enter a search term here to see results. Keywords are often best way to begin your search for data.</p>
		</div>
		</div>
	  </div>	 
	  
	  <div class="mb-5">
	  <h3 class="pb-2">What are Collections?</h3>
		<div class="row">
		<div class="col-sm">
		  <iframe id="kaltura_player" src="https://cdnapisec.kaltura.com/p/1660902/sp/166090200/embedIframeJs/uiconf_id/25717641/partner_id/1660902?iframeembed=true&playerId=kaltura_player&entry_id=1_9pmnpeqx&flashvars[streamerType]=auto&amp;flashvars[localizationCode]=en_US&amp;flashvars[leadWithHTML5]=true&amp;flashvars[sideBarContainer.plugin]=true&amp;flashvars[sideBarContainer.position]=left&amp;flashvars[sideBarContainer.clickToClose]=true&amp;flashvars[chapters.plugin]=true&amp;flashvars[chapters.layout]=vertical&amp;flashvars[chapters.thumbnailRotator]=false&amp;flashvars[streamSelector.plugin]=true&amp;flashvars[EmbedPlayer.SpinnerTarget]=videoHolder&amp;flashvars[dualScreen.plugin]=true&amp;flashvars[Kaltura.addCrossoriginToIframe]=true&amp;&wid=1_g5qqh62y" width="649" height="401" allowfullscreen webkitallowfullscreen mozAllowFullScreen allow="autoplay *; fullscreen *; encrypted-media *"  frameborder="0" title="Kaltura Player"></iframe>
		</div>
		<div class="col-sm">
		<p>Collections represent groups of resources that are similar in nature, either by theme or creator. Collections are a great way to quickly narrow your search down to data most relevant to your needs.</p>
		</div>
		</div>
	  </div>
	  
	  <div class="mb-5">
	  <h3 class="pb-2">Searching with the Map</h3>
		<div class="row">
		<div class="col-sm">
		  <iframe id="kaltura_player" src="https://cdnapisec.kaltura.com/p/1660902/sp/166090200/embedIframeJs/uiconf_id/25717641/partner_id/1660902?iframeembed=true&playerId=kaltura_player&entry_id=1_9pmnpeqx&flashvars[streamerType]=auto&amp;flashvars[localizationCode]=en_US&amp;flashvars[leadWithHTML5]=true&amp;flashvars[sideBarContainer.plugin]=true&amp;flashvars[sideBarContainer.position]=left&amp;flashvars[sideBarContainer.clickToClose]=true&amp;flashvars[chapters.plugin]=true&amp;flashvars[chapters.layout]=vertical&amp;flashvars[chapters.thumbnailRotator]=false&amp;flashvars[streamSelector.plugin]=true&amp;flashvars[EmbedPlayer.SpinnerTarget]=videoHolder&amp;flashvars[dualScreen.plugin]=true&amp;flashvars[Kaltura.addCrossoriginToIframe]=true&amp;&wid=1_g5qqh62y" width="649" height="401" allowfullscreen webkitallowfullscreen mozAllowFullScreen allow="autoplay *; fullscreen *; encrypted-media *"  frameborder="0" title="Kaltura Player"></iframe>
		</div>
		<div class="col-sm">
		<p>Using the map is a great way to see all the available data for a specific area of interest. Searching by using the map is what makes a geoportal special.  When combined with collections, filters, and keywords, finding data you need is snap!</p>
		</div>
		</div>
	  </div>
	  
	  <div class="mb-5">
	  <h3 class="pb-2">Searching for Digital Aerial Imagery</h3>
		<div class="row">
		<div class="col-sm">
		  <iframe id="kaltura_player" src="https://cdnapisec.kaltura.com/p/1660902/sp/166090200/embedIframeJs/uiconf_id/25717641/partner_id/1660902?iframeembed=true&playerId=kaltura_player&entry_id=1_9pmnpeqx&flashvars[streamerType]=auto&amp;flashvars[localizationCode]=en_US&amp;flashvars[leadWithHTML5]=true&amp;flashvars[sideBarContainer.plugin]=true&amp;flashvars[sideBarContainer.position]=left&amp;flashvars[sideBarContainer.clickToClose]=true&amp;flashvars[chapters.plugin]=true&amp;flashvars[chapters.layout]=vertical&amp;flashvars[chapters.thumbnailRotator]=false&amp;flashvars[streamSelector.plugin]=true&amp;flashvars[EmbedPlayer.SpinnerTarget]=videoHolder&amp;flashvars[dualScreen.plugin]=true&amp;flashvars[Kaltura.addCrossoriginToIframe]=true&amp;&wid=1_g5qqh62y" width="649" height="401" allowfullscreen webkitallowfullscreen mozAllowFullScreen allow="autoplay *; fullscreen *; encrypted-media *"  frameborder="0" title="Kaltura Player"></iframe>
		</div>
		<div class="col-sm">
		<p>Much of the aerial imagery available in Wisconsin is organized as county mosaics, U.S. Geological Survey Quarter-Quadrangle tiles, and in some cases, individual scanned photographs. Often, digital imagery is available in more than one coordinate system, such as WTM, UTM, or a county coordinate system like WISCRS. In this video we discuss some hints for quickly finding digital aerial imagery that meets your needs.</p>
		</div>
		</div>
	  </div>

 	  <div class="mb-5">
	  <h3 class="pb-2">Contributing to GeoData@Wisconsin</h3>
		<div class="row">
		<div class="col-sm">
		  <iframe id="kaltura_player" src="https://cdnapisec.kaltura.com/p/1660902/sp/166090200/embedIframeJs/uiconf_id/25717641/partner_id/1660902?iframeembed=true&playerId=kaltura_player&entry_id=1_9pmnpeqx&flashvars[streamerType]=auto&amp;flashvars[localizationCode]=en_US&amp;flashvars[leadWithHTML5]=true&amp;flashvars[sideBarContainer.plugin]=true&amp;flashvars[sideBarContainer.position]=left&amp;flashvars[sideBarContainer.clickToClose]=true&amp;flashvars[chapters.plugin]=true&amp;flashvars[chapters.layout]=vertical&amp;flashvars[chapters.thumbnailRotator]=false&amp;flashvars[streamSelector.plugin]=true&amp;flashvars[EmbedPlayer.SpinnerTarget]=videoHolder&amp;flashvars[dualScreen.plugin]=true&amp;flashvars[Kaltura.addCrossoriginToIframe]=true&amp;&wid=1_g5qqh62y" width="649" height="401" allowfullscreen webkitallowfullscreen mozAllowFullScreen allow="autoplay *; fullscreen *; encrypted-media *"  frameborder="0" title="Kaltura Player"></iframe>
		</div>
		<div class="col-sm">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		</div>
	  </div> 
    </div>
  </div>
</div>
