<div id="main-container" class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h1 class="page-heading">GeoData@Wisconsin How-To Videos</h1>
      <p class="pb-3">While we hope GeoData@Wisconsin is intuitive to use with minimal instruction, the videos below offer some "tips and tricks" to help you be most effective in your search for Wisconsin geospatial data.  Look for the Full Screen icon <%= image_tag("FullScreen", alt: "Expand video player to full screen") %> in the video player if you would like to expand the video.  As always, please feel free to <a style="text-decoration:underline;"	href="mailto:geodata@sco.wisc.edu">contact us</a> if you need assistance!</p>

	  <div class="mb-5">
	  <h3 class="pb-2">Introduction and Overview</h3>
		<div class="row">
		<div class="col-sm">		  
			<iframe id="kaltura_player" src="https://cdnapisec.kaltura.com/p/1660902/sp/166090200/embedIframeJs/uiconf_id/25717641/partner_id/1660902?iframeembed=true&playerId=kaltura_player&entry_id=1_m4kwr6n0&flashvars[streamerType]=auto&amp;flashvars[localizationCode]=en_US&amp;flashvars[leadWithHTML5]=true&amp;flashvars[sideBarContainer.plugin]=true&amp;flashvars[sideBarContainer.position]=left&amp;flashvars[sideBarContainer.clickToClose]=true&amp;flashvars[chapters.plugin]=true&amp;flashvars[chapters.layout]=vertical&amp;flashvars[chapters.thumbnailRotator]=false&amp;flashvars[streamSelector.plugin]=true&amp;flashvars[EmbedPlayer.SpinnerTarget]=videoHolder&amp;flashvars[dualScreen.plugin]=true&amp;flashvars[Kaltura.addCrossoriginToIframe]=true&amp;&wid=1_aua9uavc" width="649" height="401" allowfullscreen webkitallowfullscreen mozAllowFullScreen allow="autoplay *; fullscreen *; encrypted-media *"  frameborder="0" title="Kaltura Player"></iframe>
		</div>
		<div class="col-sm">
			<p>GeoData@Wisconsin is an online geoportal designed to provide discovery and access to Wisconsin geospatial data, aerial imagery, and scanned maps. Every resource within the geoportal has a download link for you to immediately access the content you need. This video will teach you the basics of using GeoData@Wisconsin.</p>	
		</div>
		</div>
	  </div>
	  
	 
	  
	  <div class="mb-5">
	  <h3 class="pb-2">What are Collections?</h3>
		<div class="row">
		<div class="col-sm">
		  <iframe id="kaltura_player" src="https://cdnapisec.kaltura.com/p/1660902/sp/166090200/embedIframeJs/uiconf_id/25717641/partner_id/1660902?iframeembed=true&playerId=kaltura_player&entry_id=1_df8niq11&flashvars[streamerType]=auto&amp;flashvars[localizationCode]=en_US&amp;flashvars[leadWithHTML5]=true&amp;flashvars[sideBarContainer.plugin]=true&amp;flashvars[sideBarContainer.position]=left&amp;flashvars[sideBarContainer.clickToClose]=true&amp;flashvars[chapters.plugin]=true&amp;flashvars[chapters.layout]=vertical&amp;flashvars[chapters.thumbnailRotator]=false&amp;flashvars[streamSelector.plugin]=true&amp;flashvars[EmbedPlayer.SpinnerTarget]=videoHolder&amp;flashvars[dualScreen.plugin]=true&amp;flashvars[Kaltura.addCrossoriginToIframe]=true&amp;&wid=1_3i8772fr" width="649" height="401" allowfullscreen webkitallowfullscreen mozAllowFullScreen allow="autoplay *; fullscreen *; encrypted-media *"  frameborder="0" title="Kaltura Player"></iframe>
		</div>
		<div class="col-sm">
		<p>Collections represent groups of resources that are similar in nature, either by theme or creator. Collections are a great way to quickly narrow your search down to data most relevant to your needs.</p>
		</div>
		</div>
	  </div>
	
	  <div class="mb-5">
	  <h3 class="pb-2">Searching with Keywords</h3>
		<div class="row">
		<div class="col-sm">
		  <iframe id="kaltura_player" src="https://cdnapisec.kaltura.com/p/1660902/sp/166090200/embedIframeJs/uiconf_id/25717641/partner_id/1660902?iframeembed=true&playerId=kaltura_player&entry_id=1_bmxch61e&flashvars[streamerType]=auto&amp;flashvars[localizationCode]=en_US&amp;flashvars[leadWithHTML5]=true&amp;flashvars[sideBarContainer.plugin]=true&amp;flashvars[sideBarContainer.position]=left&amp;flashvars[sideBarContainer.clickToClose]=true&amp;flashvars[chapters.plugin]=true&amp;flashvars[chapters.layout]=vertical&amp;flashvars[chapters.thumbnailRotator]=false&amp;flashvars[streamSelector.plugin]=true&amp;flashvars[EmbedPlayer.SpinnerTarget]=videoHolder&amp;flashvars[dualScreen.plugin]=true&amp;flashvars[Kaltura.addCrossoriginToIframe]=true&amp;&wid=1_18e69h2u" width="649" height="401" allowfullscreen webkitallowfullscreen mozAllowFullScreen allow="autoplay *; fullscreen *; encrypted-media *"  frameborder="0" title="Kaltura Player"></iframe>
		</div>
		<div class="col-sm">
		<p>In GeoData@Wisconsin, the keyword search bar is located at the top of the page. Simply enter a search term here to see results. Keywords are often best way to begin your search for data.</p>
		</div>
		</div>
	  </div>
	  
	  <div class="mb-5">
	  <h3 class="pb-2">Searching with the Map</h3>
		<div class="row">
		<div class="col-sm">
		  <iframe id="kaltura_player" src="https://cdnapisec.kaltura.com/p/1660902/sp/166090200/embedIframeJs/uiconf_id/25717641/partner_id/1660902?iframeembed=true&playerId=kaltura_player&entry_id=1_fjrqoz76&flashvars[streamerType]=auto&amp;flashvars[localizationCode]=en_US&amp;flashvars[leadWithHTML5]=true&amp;flashvars[sideBarContainer.plugin]=true&amp;flashvars[sideBarContainer.position]=left&amp;flashvars[sideBarContainer.clickToClose]=true&amp;flashvars[chapters.plugin]=true&amp;flashvars[chapters.layout]=vertical&amp;flashvars[chapters.thumbnailRotator]=false&amp;flashvars[streamSelector.plugin]=true&amp;flashvars[EmbedPlayer.SpinnerTarget]=videoHolder&amp;flashvars[dualScreen.plugin]=true&amp;flashvars[Kaltura.addCrossoriginToIframe]=true&amp;&wid=1_vu72lj2t" width="649" height="401" allowfullscreen webkitallowfullscreen mozAllowFullScreen allow="autoplay *; fullscreen *; encrypted-media *"  frameborder="0" title="Kaltura Player"></iframe>
		</div>
		<div class="col-sm">
		<p>Using the map is a great way to see all the available data for a specific geographic area of interest. Searching by using the map is what makes a geoportal special.  When combined with collections, filters, and keywords, finding data you need is snap!</p>
		</div>
		</div>
	  </div>
	  
	  	  <div class="mb-5">
	  <h3 class="pb-2">Searching for LiDAR Data</h3>
		<div class="row">
		<div class="col-sm">
		  <iframe id="kaltura_player" src="https://cdnapisec.kaltura.com/p/1660902/sp/166090200/embedIframeJs/uiconf_id/25717641/partner_id/1660902?iframeembed=true&playerId=kaltura_player&entry_id=1_28u6c7dc&flashvars[streamerType]=auto&amp;flashvars[localizationCode]=en_US&amp;flashvars[leadWithHTML5]=true&amp;flashvars[sideBarContainer.plugin]=true&amp;flashvars[sideBarContainer.position]=left&amp;flashvars[sideBarContainer.clickToClose]=true&amp;flashvars[chapters.plugin]=true&amp;flashvars[chapters.layout]=vertical&amp;flashvars[chapters.thumbnailRotator]=false&amp;flashvars[streamSelector.plugin]=true&amp;flashvars[EmbedPlayer.SpinnerTarget]=videoHolder&amp;flashvars[dualScreen.plugin]=true&amp;flashvars[Kaltura.addCrossoriginToIframe]=true&amp;&wid=1_m8w6rdyq" width="649" height="401" allowfullscreen webkitallowfullscreen mozAllowFullScreen allow="autoplay *; fullscreen *; encrypted-media *"  frameborder="0" title="Kaltura Player"></iframe>
		</div>
		<div class="col-sm">
		<p>Wisconsin is fortunate to have nearly complete coverage of LiDAR-derived elevation data available from our partner, WisconsinView.Org. LiDAR data can be particularly difficult to find because formats, derived products, tiling schemes, and collection periods vary considerably throughout the state.  Using a combination of keywords and filters, finding LiDAR with GeoData@Wisconsin is easier than ever!</p>
		</div>
		</div>
	  </div>
	  
	  
	  
	  	  <div class="mb-5">
	  <h3 class="pb-2">Searching for the Original Wisconsin Public Land Survey System Maps</h3>
		<div class="row">
		<div class="col-sm">
		 <iframe id="kaltura_player" src="https://cdnapisec.kaltura.com/p/1660902/sp/166090200/embedIframeJs/uiconf_id/25717641/partner_id/1660902?iframeembed=true&playerId=kaltura_player&entry_id=1_59kxi570&flashvars[streamerType]=auto&amp;flashvars[localizationCode]=en_US&amp;flashvars[leadWithHTML5]=true&amp;flashvars[sideBarContainer.plugin]=true&amp;flashvars[sideBarContainer.position]=left&amp;flashvars[sideBarContainer.clickToClose]=true&amp;flashvars[chapters.plugin]=true&amp;flashvars[chapters.layout]=vertical&amp;flashvars[chapters.thumbnailRotator]=false&amp;flashvars[streamSelector.plugin]=true&amp;flashvars[EmbedPlayer.SpinnerTarget]=videoHolder&amp;flashvars[dualScreen.plugin]=true&amp;flashvars[Kaltura.addCrossoriginToIframe]=true&amp;&wid=1_wck82idt" width="649" height="401" allowfullscreen webkitallowfullscreen mozAllowFullScreen allow="autoplay *; fullscreen *; encrypted-media *"  frameborder="0" title="Kaltura Player"></iframe>
		</div>
		<div class="col-sm">
		<p>The field notes and plat maps of the public land survey of Wisconsin are a valuable resource for original land survey information, as well as for understanding Wisconsin's landscape history. The survey of Wisconsin was conducted between 1832 and 1866 by the federal General Land Office. In this video we discuss how to search the geoportal for these historic scanned maps.</p>
		</div>
		</div>
	  </div>
	  
	  	  <div class="mb-5">
	  <h3 class="pb-2">Searching for U.S. Geological Survey Topographic Maps</h3>
		<div class="row">
		<div class="col-sm">
		  <iframe id="kaltura_player" src="https://cdnapisec.kaltura.com/p/1660902/sp/166090200/embedIframeJs/uiconf_id/25717641/partner_id/1660902?iframeembed=true&playerId=kaltura_player&entry_id=1_0lbjsvu3&flashvars[streamerType]=auto&amp;flashvars[localizationCode]=en_US&amp;flashvars[leadWithHTML5]=true&amp;flashvars[sideBarContainer.plugin]=true&amp;flashvars[sideBarContainer.position]=left&amp;flashvars[sideBarContainer.clickToClose]=true&amp;flashvars[chapters.plugin]=true&amp;flashvars[chapters.layout]=vertical&amp;flashvars[chapters.thumbnailRotator]=false&amp;flashvars[streamSelector.plugin]=true&amp;flashvars[EmbedPlayer.SpinnerTarget]=videoHolder&amp;flashvars[dualScreen.plugin]=true&amp;flashvars[Kaltura.addCrossoriginToIframe]=true&amp;&wid=1_pzwsjs2i" width="649" height="401" allowfullscreen webkitallowfullscreen mozAllowFullScreen allow="autoplay *; fullscreen *; encrypted-media *"  frameborder="0" title="Kaltura Player"></iframe>
		</div>
		<div class="col-sm">
		<p>Scanned topographic maps published by the USGS date back to 1889 in Wisconsin, and as such, provide excellent insight for historical research. With nearly 12,000 topos available through GeoData@Wisconsin, both past and present, we present some tips for finding the "topos" you need.</p>
		</div>
		</div>
	  </div>
	  
<div class="mb-5">
	  <h3 class="pb-2">Searching for Digital Aerial Imagery</h3>
		<div class="row">
		<div class="col-sm">
		  <iframe id="kaltura_player" src="https://cdnapisec.kaltura.com/p/1660902/sp/166090200/embedIframeJs/uiconf_id/25717641/partner_id/1660902?iframeembed=true&playerId=kaltura_player&entry_id=1_sopigtre&flashvars[streamerType]=auto&amp;flashvars[localizationCode]=en_US&amp;flashvars[leadWithHTML5]=true&amp;flashvars[sideBarContainer.plugin]=true&amp;flashvars[sideBarContainer.position]=left&amp;flashvars[sideBarContainer.clickToClose]=true&amp;flashvars[chapters.plugin]=true&amp;flashvars[chapters.layout]=vertical&amp;flashvars[chapters.thumbnailRotator]=false&amp;flashvars[streamSelector.plugin]=true&amp;flashvars[EmbedPlayer.SpinnerTarget]=videoHolder&amp;flashvars[dualScreen.plugin]=true&amp;flashvars[Kaltura.addCrossoriginToIframe]=true&amp;&wid=1_sxj0wyuq" width="649" height="401" allowfullscreen webkitallowfullscreen mozAllowFullScreen allow="autoplay *; fullscreen *; encrypted-media *"  frameborder="0" title="Kaltura Player"></iframe>
		</div>
		<div class="col-sm">
		<p>Much of the aerial imagery available in Wisconsin is organized as county mosaics, U.S. Geological Survey Quarter-Quadrangle tiles, and in some cases, individual scanned photographs. Often, digital imagery is available in more than one coordinate system, such as Wisconsin Transverse Mercator (WTM), Universal Transverse Mercator (UTM), or a county coordinate system like WISCRS. In this video we discuss some hints for quickly finding digital aerial imagery that meets your needs.</p>
		</div>
		</div>
	  </div>
    </div>
  </div>
</div>
