<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>URI Analysis CSV Report / <%= DateTime.now.to_formatted_s(:long) %></h2>
    <p>Report URL:</p>
    <p>
      <%= "http://geodata.wisc.edu/#{@report.split('/public/')[1]}" %>
    </p>

    <hr/>
    <p><strong>How this works</strong></p>
    <p>Twice per month, every solr document uri object in the database is purged and recreated. Each new URI is processed to determine whether the URI is good or bad. That state is captured in the database and after all URIs are processed, we generate this CSV report of how the URI analysis performed.</p>
    <hr/>
    <p><strong>Technical Details</strong></p>
    <p>The whenever gem runs these rake tasks:</p>
    <ul>
      <li>1st and 14th day of month / 1:00am / bundle exec rake geodata:uri_purge</li>
      <li>1st and 14th day of month / 2:00am / bundle exec rake geodata:uri_process_all</li>
      <li>2nd and 15th day of month / 2:00am / bundle exec rake geodata:uri_queue_incomplete_states</li>
      <li>2nd and 15thday of month / 8:00am / bundle exec rake geodata:uri_report</li>
    </ul>
    <p>Remember: if you want to run these tasks manually at the commandline on the server, you must pre-pend RAILS_ENV=production to the bundle exec command.</p>
  </body>
</html>
