<% document ||= @document %>
<div class="alert alert-danger alert-dismissible dataset-notice" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
  </button>

  <%= document[Settings.FIELDS.NOTICE] %>
</div>
